body{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 16px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: italic;
font-variant: small-caps;
text-transform: none;
background-image: url("bg.png");
}


.btn {
	  background: #34a7d9;
  background-image: -webkit-linear-gradient(top, #34a7d9, #2980b9);
  background-image: -moz-linear-gradient(top, #34a7d9, #2980b9);
  background-image: -ms-linear-gradient(top, #34a7d9, #2980b9);
  background-image: -o-linear-gradient(top, #34a7d9, #2980b9);
  background-image: linear-gradient(to bottom, #34a7d9, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  border: none;
    -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
}

div{
	margin-bottom: 2px;
}

.archer{
	background: #3d2706;
}

.rogue{
	background: #47005b;
}

.firemage{
	background: #772f00;
}

.frostmage{
	background: #21456d;
}

.bard{
	background: #000651;
}

.alchemist{
	background: #003530;
}

.trapper{
	background: #000000;
}

.highpriest{
	background: #ffffff;
	color: #000000;
}

#misc{
float: left;
margin-right: 20px;
}


#towers{
float: left;
margin-right: 20px;
}

#class-commands{
	clear: left;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#classes .btn{
	font-size: 15px;
}

#stack1, #stack2, #stack3, #stack4{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #9c93bd);
  background-image: -moz-linear-gradient(top, #3498db, #9c93bd);
  background-image: -ms-linear-gradient(top, #3498db, #9c93bd);
  background-image: -o-linear-gradient(top, #3498db, #9c93bd);
  background-image: linear-gradient(to bottom, #3498db, #9c93bd);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.connect{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #00d18f);
  background-image: -moz-linear-gradient(top, #3498db, #00d18f);
  background-image: -ms-linear-gradient(top, #3498db, #00d18f);
  background-image: -o-linear-gradient(top, #3498db, #00d18f);
  background-image: linear-gradient(to bottom, #3498db, #00d18f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.disconnect{
	  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #f59987);
  background-image: -moz-linear-gradient(top, #3498db, #f59987);
  background-image: -ms-linear-gradient(top, #3498db, #f59987);
  background-image: -o-linear-gradient(top, #3498db, #f59987);
  background-image: linear-gradient(to bottom, #3498db, #f59987);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.p, .pd{
	  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #bdb293);
  background-image: -moz-linear-gradient(top, #3498db, #bdb293);
  background-image: -ms-linear-gradient(top, #3498db, #bdb293);
  background-image: -o-linear-gradient(top, #3498db, #bdb293);
  background-image: linear-gradient(to bottom, #3498db, #bdb293);

	
}
#class-commands .btn{
	margin-right: 2px;
}
.leave{
	margin-left: 10px;
}

.train, .altar{
	  background: #34a7d9;
  background-image: -webkit-linear-gradient(top, #34a7d9, #2980b9);
  background-image: -moz-linear-gradient(top, #34a7d9, #2980b9);
  background-image: -ms-linear-gradient(top, #34a7d9, #2980b9);
  background-image: -o-linear-gradient(top, #34a7d9, #2980b9);
  background-image: linear-gradient(to bottom, #34a7d9, #2980b9);

}

.spbear{
	  background: #537d94;
  background-image: -webkit-linear-gradient(top, #537d94, #8f6049);
  background-image: -moz-linear-gradient(top, #537d94, #8f6049);
  background-image: -ms-linear-gradient(top, #537d94, #8f6049);
  background-image: -o-linear-gradient(top, #537d94, #8f6049);
  background-image: linear-gradient(to bottom, #537d94, #8f6049);
}

.spweak{
	  background: #6083c9;
  background-image: -webkit-linear-gradient(top, #6083c9, #2f4ba8);
  background-image: -moz-linear-gradient(top, #6083c9, #2f4ba8);
  background-image: -ms-linear-gradient(top, #6083c9, #2f4ba8);
  background-image: -o-linear-gradient(top, #6083c9, #2f4ba8);
  background-image: linear-gradient(to bottom, #6083c9, #2f4ba8);
}

.spfire{
	  background: #7196ad;
  background-image: -webkit-linear-gradient(top, #7196ad, #ad863e);
  background-image: -moz-linear-gradient(top, #7196ad, #ad863e);
  background-image: -ms-linear-gradient(top, #7196ad, #ad863e);
  background-image: -o-linear-gradient(top, #7196ad, #ad863e);
  background-image: linear-gradient(to bottom, #7196ad, #ad863e);
}

.sparmor{
	  background: #3494d9;
  background-image: -webkit-linear-gradient(top, #3494d9, #a15fbf);
  background-image: -moz-linear-gradient(top, #3494d9, #a15fbf);
  background-image: -ms-linear-gradient(top, #3494d9, #a15fbf);
  background-image: -o-linear-gradient(top, #3494d9, #a15fbf);
  background-image: linear-gradient(to bottom, #3494d9, #a15fbf);
}

.sppoison{
	  background: #34b5d9;
  background-image: -webkit-linear-gradient(top, #34b5d9, #5ebd84);
  background-image: -moz-linear-gradient(top, #34b5d9, #5ebd84);
  background-image: -ms-linear-gradient(top, #34b5d9, #5ebd84);
  background-image: -o-linear-gradient(top, #34b5d9, #5ebd84);
  background-image: linear-gradient(to bottom, #34b5d9, #5ebd84);
}
.spfrost{
	  background: #34b5d9;
  background-image: -webkit-linear-gradient(top, #34b5d9, #88d5e8);
  background-image: -moz-linear-gradient(top, #34b5d9, #88d5e8);
  background-image: -ms-linear-gradient(top, #34b5d9, #88d5e8);
  background-image: -o-linear-gradient(top, #34b5d9, #88d5e8);
  background-image: linear-gradient(to bottom, #34b5d9, #88d5e8);
}

.sp1, .sp2, .sp3, .sp4, .sp5, .sp6, .sp7, .sp8, .sp9{
	  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2bb8b3);
  background-image: -moz-linear-gradient(top, #3498db, #2bb8b3);
  background-image: -ms-linear-gradient(top, #3498db, #2bb8b3);
  background-image: -o-linear-gradient(top, #3498db, #2bb8b3);
  background-image: linear-gradient(to bottom, #3498db, #2bb8b3);
}

.spa, .spb, .spc, .spd{
	  background: #7bd2f7;
  background-image: -webkit-linear-gradient(top, #7bd2f7, #329bb5);
  background-image: -moz-linear-gradient(top, #7bd2f7, #329bb5);
  background-image: -ms-linear-gradient(top, #7bd2f7, #329bb5);
  background-image: -o-linear-gradient(top, #7bd2f7, #329bb5);
  background-image: linear-gradient(to bottom, #7bd2f7, #329bb5);
}

.sp{
		  background: #3494d9;
  background-image: -webkit-linear-gradient(top, #3494d9, #a15fbf);
  background-image: -moz-linear-gradient(top, #3494d9, #a15fbf);
  background-image: -ms-linear-gradient(top, #3494d9, #a15fbf);
  background-image: -o-linear-gradient(top, #3494d9, #a15fbf);
  background-image: linear-gradient(to bottom, #3494d9, #a15fbf);
}

.leave{
  background: #7a92a1;
  background-image: -webkit-linear-gradient(top, #7a92a1, #406b73);
  background-image: -moz-linear-gradient(top, #7a92a1, #406b73);
  background-image: -ms-linear-gradient(top, #7a92a1, #406b73);
  background-image: -o-linear-gradient(top, #7a92a1, #406b73);
  background-image: linear-gradient(to bottom, #7a92a1, #406b73);
}
.citrine{
	  background: #ff8330;
  background-image: -webkit-linear-gradient(top, #ff8330, #ffa600);
  background-image: -moz-linear-gradient(top, #ff8330, #ffa600);
  background-image: -ms-linear-gradient(top, #ff8330, #ffa600);
  background-image: -o-linear-gradient(top, #ff8330, #ffa600);
  background-image: linear-gradient(to bottom, #ff8330, #ffa600);
}
.ruby{
	  background: #ff4040;
  background-image: -webkit-linear-gradient(top, #ff4040, #c74900);
  background-image: -moz-linear-gradient(top, #ff4040, #c74900);
  background-image: -ms-linear-gradient(top, #ff4040, #c74900);
  background-image: -o-linear-gradient(top, #ff4040, #c74900);
  background-image: linear-gradient(to bottom, #ff4040, #c74900);
}
.emerald{
	  background: #3cb578;
  background-image: -webkit-linear-gradient(top, #3cb578, #34996d);
  background-image: -moz-linear-gradient(top, #3cb578, #34996d);
  background-image: -ms-linear-gradient(top, #3cb578, #34996d);
  background-image: -o-linear-gradient(top, #3cb578, #34996d);
  background-image: linear-gradient(to bottom, #3cb578, #34996d);
}
.onyx{
	  background: #575757;
  background-image: -webkit-linear-gradient(top, #575757, #333333);
  background-image: -moz-linear-gradient(top, #575757, #333333);
  background-image: -ms-linear-gradient(top, #575757, #333333);
  background-image: -o-linear-gradient(top, #575757, #333333);
  background-image: linear-gradient(to bottom, #575757, #333333);
}

.credits{
	    position: fixed;
    bottom: 3px;
    right: 3px;
    font-size: 12px;
}